[submodule "third_party/uvw"]
	path = third_party/uvw
	url = https://github.com/skypjack/uvw
[submodule "third_party/PicoSHA2"]
	path = third_party/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
